.container {
  margin-left: 100px;
}

.input {
  width: 380px;
  min-height: 40px;
}

.test {
  position: relative;
}

.icon {
  margin-left: 10px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  transform: translateY(-50%);
}

input::placeholder {
  padding-left: 30px;
}
