.AboutLogo {
  /* background: tomato; */
  /* height: 190px; */
  width: 190px;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: #2a2a2a;
}

.logoContainer {
  display: flex;
}

.logoText {
  font-size: 32px;
  margin-left: 10px;

  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}
